<div id="box">
<div class="container custom-container mb-5">
    <div class="col-md-12">
        <h3 class="mb-3 text-center"><strong></strong></h3>

        <div class="mb-3">
            <input type="text" [(ngModel)]="SignupDetails.name" class="form-control" placeholder="Name">
        </div>
        <div class="mb-3">
            <input type="text" [(ngModel)]="SignupDetails.password" class="form-control" placeholder="PassWord">
        </div>
        <!-- <div class="mb-3">
            <input type="text" [(ngModel)]="employeeDetails.phone" class="form-control" placeholder="Phone">
        </div> -->
        <div>
            <button class="btn btn-success btn-lg btn-block" (click)="addSignup(SignupDetails)">Sign-Up</button>
        </div><br>
        <div id="link">
            Already have an account? <a routerLink="/signin">login</a> here
        </div>
    </div>
</div>
</div>
  
