<!-- cart.component.html -->
<!-- <div>
    <h3>Your Cart</h3>
    <ul>
      <li *ngFor="let item of cartItems">{{ item.name }} - {{ item.price }}</li>
    </ul>
   
  </div> -->
  <div id="box">
  <div class="cart-container">
    <h3 class="cart-title">Your Cart</h3>
    <table class="cart-table">
        <thead class="cart-header">
            <tr>
                <th class="cart-cell">Item</th>
                <th class="cart-cell">Price</th>
                <th class="cart-cell"></th> 
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems; let i = index" class="cart-row">
              <td class="cart-cell item-name">{{ item.name }}</td>
              <td class="cart-cell item-price">{{ item.price }}</td>
              <td class="cart-cell ">
                <button  (click)="removeItem(i)" class="btn btn-success">Remove</button>
              </td>
          </tr>
          
      </tbody>
      <tfoot>
        <tr>
          <th>TOTAL-AMOUNT</th>
          <td [attr.colspan]>Rs.{{ totalAmount }}</td>
        </tr>
      </tfoot>
      
    </table>
    <div id="demo">  </div>
  </div>
</div>
  